body {
   background-color: #e6e6e6;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

.flex-container {
   display: flex;
}

.box {
   flex-grow: 1;
   flex-basis: 200px;
   min-height: 200px;
   align-items: center;
   justify-content: center;
   display: flex;
}
